.more {
    margin: 15px;
}
.divider {
    height: 1px;
    width: 100%;
    background: #ff6600;
    border: 1px solid #ff6600;

}
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 30px;
    margin: 10px 0;
    
}
.footer-menu {
    display: flex;
    gap: 5px;
}
.footer-menu li {
    list-style: none;
}